
<div class="row"><!--1 row-->
    <div class="col-md-4">
      <h2>Dashboard</h2>
      <h3>Datos Generales</h3>
      <p>datos del usuario</p>
      <p>Fecha, Hora</p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Tareas frecuentes</h3>
      <p>5 Tareas comunes ordenadas de mayor frecuencia a menor frecuencia del Log de los últimos 3 meses</p>
    </div>
  </div><!--FIN del 1 row-->
  <br>
  <br>
  <br>
  <br>
  <div class="row"><!--2 row-->
    <div class="col-md-4">
      <h3 class="">Actividades reciente</h3>
      <p>Últimas 5 actividades del log ordenadas de nuevas a viejas</p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3>Notificaciones</h3>
      <p>10 notificaciones y si hay más el link para ir al área de notificación</p>
    </div>
  </div><!--FIN del 2 row-->

