<div class="container-fluid">
  <div class="nav">
    <div class="menu">
      <ul class="seccion blanco">
        <li><h3 class="titulo">Modulo</h3></li>
        <li class="li comercialClick"><a href="#" class="a" >Comercial</a></li>
        <li class="li operacionesClick"><a href="#" class="a" >Operaciones</a></li>
        <li class="li administracionClick"><a href="#" class="a" >Administracion</a></li>
        <li class="li sistemasClick"><a href="#" class="a" >Sistemas</a></li>
      </ul>
      <ul class="seccion">
        <li><h3 class="titulo">Tablas</h3></li>
        <li class="li">
          <a href="/cliente/" class="a menu2 comercialLink block">Clientes</a>
          <a href="#" class="a menu2 operacionesLink">operaciones</a>
          <a href="#" class="a menu2 administracionLink">administracion</a>
          <a href="#" class="a menu2 sistemasLink">Sistemas</a>
        </li>
        <li class="li"><a href="/tipo_cliente/" class="a menu2 comercialLink block">Tipo clientes</a></li>
        <li class="li"><a href="/segmento/" class="a menu2 comercialLink block">Segmentos</a></li>
        <li class="li divider"><a href="#" class="a comercialLink block"></a></li>
        <li class="li"><a href="/condicion_pago/" class="a menu2 comercialLink block">Condiciones de pago</a></li>
        <li class="li"><a href="/tipo_cliente/tipo_precio/" class="a menu2 comercialLink block">Tipo de precios</a></li>
      </ul>
      <ul class="seccion blanco">
        <li><h3 class="titulo">Procesos</h3></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Llamadas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Cotizaciones</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Facturacion</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Cobranza</a></li>
        <li class="li divider"><a href="#" class="menu2 comercialLink block"></a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Visitas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Mudanzas</a></li>
      </ul>
      <ul class="seccion">
        <li><h3 class="titulo">Reportes</h3></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Llamadas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Cotizaciones</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Cacturas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Cobranzas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Visitas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Mudanzas</a></li>
      </ul>
      <ul class="seccion blanco">
        <li><h3 class="titulo">Gestion</h3></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Dashboard</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Pendientes</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Favoritos</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Configuraciones</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Soporte</a></li>
      </ul>
    </div>
  </div>
</div><!--FIN container fluid-->
