<div class="container-fluid">
  <div class="nav">
    <div class="menu">
      <ul class="seccion blanco">
        <li><h3 class="titulo">Modulo</h3></li>
        <li class="li comercialClick"><a href="#" class="a" >Comercial</a></li>
        <li class="li operacionesClick"><a href="#" class="a" >Operaciones</a></li>
        <li class="li administracionClick"><a href="#" class="a" >Administracion</a></li>
        <li class="li sistemasClick"><a href="#" class="a" >Sistemas</a></li>
      </ul>
      <ul class="seccion">
        <li><h3 class="titulo">Tablas</h3></li>
<!-- Comercial: Tablas -->
        <li class="li"><a href="/cliente/" class="a menu2 comercialLink block">Clientes</a></li>
        <li class="li"><a href="/tipo_cliente/" class="a menu2 comercialLink block">Tipo clientes</a></li>
        <li class="li"><a href="/segmento/" class="a menu2 comercialLink block">Segmentos</a></li>
        <li class="li divider comercialLink block"><a href="#" class="a menu2 "></a></li>
        <li class="li"><a href="/condicion_pago/" class="a menu2 comercialLink block">Condiciones de pago</a></li>
        <li class="li"><a href="/tipo_cliente/tipo_precio/" class="a menu2 comercialLink block">Tipo de precios</a></li>
<!-- Operaciones: Tablas -->
        <li class="li"><a href="/mueble/" class="a menu2 operacionesLink">Muebles</a></li>
        <li class="li"><a href="#" class="a menu2 operacionesLink">Contenidos</a></li>
        <li class="li"><a href="#" class="a menu2 operacionesLink">Combos</a></li>
        <li class="li divider operacionesLink"></li>
        <li class="li margen-superior"><a href="#" class="a menu2 operacionesLink">Transportes</a></li>
        <li class="li"><a href="/vehiculo/" class="a menu2 operacionesLink">Vehículos</a></li>
        <li class="li"><a href="#" class="a menu2 operacionesLink">Roles de transporte</a></li>
        <li class="li divider operacionesLink"><a href="#" class="a menu2 "></a></li>
        <li class="li"><a href="/articulo/" class="a menu2 operacionesLink">Artículos</a></li>
        <li class="li"><a href="#" class="a menu2 operacionesLink">Servicios</a></li>
        <li class="li"><a href="#" class="a menu2 operacionesLink">Embalaje</a></li>
<!-- Adminitración: Tablas -->
        <li class="li"><a href="#" class="a menu2 administracionLink">Trabajadores</a></li>
        <li class="li"><a href="#" class="a menu2 administracionLink">Departamentos</a></li>
        <li class="li divider administracionLink"><a href="#" class="a menu2 "></a></li>
        <li class="li"><a href="/proveedor/" class="a menu2 administracionLink">Proveedores</a></li>
        <li class="li"><a href="#" class="a menu2 administracionLink">Empresas</a></li>
<!-- Sistema: Tablas -->
      </ul>
      <ul class="seccion blanco">
        <li><h3 class="titulo">Procesos</h3></li>
<!-- Comercial: Procesos -->
        <li class="li"><a href="#" class="a menu2 comercialLink block">Llamadas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Cotizaciones</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Facturacion</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Cobranza</a></li>
        <li class="li divider"><a href="#" class="menu2 comercialLink block"></a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Visitas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Mudanzas</a></li>
      </ul>
<!-- Operaciones: Procesos -->
<!-- Administración: Procesos -->
<!-- Sistema: Procesos -->
      <ul class="seccion">
        <li><h3 class="titulo">Reportes</h3></li>
<!-- Comercial: Reportes -->
<!-- Operaciones: Reportes -->
<!-- Administración: Reportes -->
<!-- Sistema: Reportes -->
        <li class="li"><a href="#" class="a menu2 comercialLink block">Llamadas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Cotizaciones</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Facturas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Cobranzas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Visitas</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Mudanzas</a></li>
      </ul>
      <ul class="seccion blanco">
        <li><h3 class="titulo">Gestion</h3></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Dashboard</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Pendientes</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Favoritos</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Configuraciones</a></li>
        <li class="li"><a href="#" class="a menu2 comercialLink block">Soporte</a></li>
      </ul>
    </div>
  </div>
</div><!--FIN container fluid-->
