  <!-- Modal blog sitio n construccion -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Blog</h4>
        </div>
        <div class="modal-body">
          <div class="jumbotron"><h2 style="text-align:center;">Disculpe Sitio en construccion</h2></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

        </div>
      </div>
    </div>
  </div>
  <!-- FIN Modal blog sitio en construccion -->
