{% block ver_datos_basicos %}
{% if direccioncliente_lista %}


<h4>Listado de direccion </h4>

    <h6>Cantidad de direccion encontrados: <span class="badge">{{ direccioncliente_lista.count }}</span> </h6>
  <table class="table table-hover">
   <tr class="active">
    <th>Tipo dirección</th>
    <th>Dirección</th>
    <th>Sede</th>
    <th></th>
  </tr>
  {% for i in direccioncliente_lista %}
  <tr><td>{{ i.direc.tipo_direccion }}</td>
   <td>{{ i.direc }}</td>
   <td> {% if i.sede1 %}{{  i.sede1 }}{% endif %}</td>
   <td><a href="direccion/editar/{{i.id}}/">Editar</a></td>
   <td>{# <a href="delete/{{i.id}}">delete</a> #}</td>
 </tr>
 {% endfor %}
</table>
<p><a href="direccion/nuevo/">Agregar</a></p>
<a href="/cliente/" class="btn btn-default">Regresar</a><br><br>
{% else %}
<h4>Listado de direccion </h4>
<br><br>
<p>Direccion no encontrado  </p>
<p><a href="direccion/nuevo/" class="btn btn-default">Agregar</a></p>

{% endif %}

{% endblock ver_datos_basicos %}
