{% if lista_telefono_cliente %}
{% block content_telefono %}
<h4>Telefonos</h4>
<h6>Cantidad de telefonos encontrados:
  <span class="badge">
    {{ lista_telefono_cliente.count }}
  </span>
</h6>
  <table class="table table-hover">

   <tr class="active">
    <th>Tipo</th>
    <th>Numero</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

  {% for i in lista_telefono_cliente %}

  <tr>
    <td>{{ i.telefono.tipo_telefono }}</td>
    <td>{{ i.telefono }}</td>
    <td>
      <a href="#" id ="editar" data-telid="{{i.id}}" class="glyphicon glyphicon-edit" type="button"></a>
    </td>
    <td><a href="telefono/delete/{{i.id}}" class="glyphicon glyphicon-remove">
    </a></td>
    <input type="hidden" value="{{i.id}}" id="idtele">
  </tr>

  {% endfor %}

</table>
<a class="btn btn-default" href="telefono/nuevo/">Agregar</a>
{% endblock %}


{% else %}
<h4>Telefonos</h4>
<br><br>
<p> Telefono no encontrado </p>
<a class="btn btn-default" href="telefono/nuevo/">Agregar</a>
{% endif %}
{% if form_edit_telefono %}

<div id="resultado"></div>
<b id="like_count">
  {% include 'telefonocliente_edit.html' with form_edit_telefono=idtele %}

  {{ form_edit_telefono }}</b>
{% endif %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<script language="javascript">
$(document).ready(function(){
  $(".glyphicon-edit").click(function(){
    $("#resultado").html($("#idtele").val());
    alert("mensaje " + $("#idtele").val());


  });

  $('#editar').click(function(){
    alert('prueba ' + $(this).attr("data-telid"))
    var telid;
    telid = $(this).attr("data-telid");
    $.post('/Telefono/editar_telefono/', {pk: telid}, function(data){
      $('#like_count').html(data);
    });
  });

});

</script>

