{# {% extends "base.html" %}#}
{% block contenido_index %} {% endblock contenido_index %}
{% block ver_datos_basicos %}
<p><a href="nuevo/">Nuevo</a></p>
{% if lista_tipoambiente %}
<div class="col-md-1"></div>
 <div class="col-md-4">
    <h2>Lista tipo ambiente</h2>
     <h6>Cantidad de tipo ambiente encontrados: <span class="badge">{{ lista_tipoambiente.count }}</span> </h6>
    <table class="table table-hover">
         <tr class="active">
            <th>Tipo ambiente</th>
            <th></th>
            <th></th>
        </tr>
        {% for i in lista_tipoambiente %}

        <tr><td>{{ i.tipo_ambiente }}</td>
            <td><a href="{{i.id}}/" class="glyphicon glyphicon-edit">edi</a></td>
            <td><a href="delete/{{i.id}}" class="glyphicon glyphicon-remove">eli</a></td>
        </tr>

     {% endfor %}
    </table>
    <p><a href="nuevo/">Nuevo</a></p>
</div>
 {% else %}
 <p> No Tipo ambiente are available. </p>
 <p><a href="nuevo/">Nuevo</a></p>
 {% endif %}
{% endblock ver_datos_basicos %}
