{# {% extends "base.html" %}#}
{% block contenido_index %} {% endblock contenido_index %}
{% block ver_datos_basicos %}
<p><a href="nuevo/">Nuevo</a></p>
{% if lista_tiposede %}
<div class="col-md-1"></div>
 <div class="col-md-4">
    <h2>Lista tipo sede</h2>
     <h6>Cantidad de tipo sede encontrados: <span class="badge">{{ lista_tiposede.count }}</span> </h6>
    <table class="table table-hover">
         <tr class="active">
            <th>Nombre</th>
            <th></th>
            <th></th>
        </tr>
        {% for i in lista_tiposede %}

        <tr><td>{{ i.nombre }}</td>
            <td><a href="{{i.id}}/" class="glyphicon glyphicon-edit">edi</a></td>
            <td><a href="delete/{{i.id}}" class="glyphicon glyphicon-remove">eli</a></td>
        </tr>

     {% endfor %}
    </table>
    <p><a href="nuevo/">Nuevo</a></p>
</div>
 {% else %}
 <p> No Tipo sede are available. </p>
 <p><a href="nuevo/">Nuevo</a></p>
 {% endif %}
{% endblock ver_datos_basicos %}
