{# {% extends "base.html" %} #}
{% block contenido_index %} {% endblock contenido_index %}
{% block confirmar %}{% endblock confirmar %}
{% block ver_datos_basicos %}
{% if lista_tamaniomueble %}
<div class="col-md-1"></div>
<div class="col-md-4">
  <a href="../" class="btn btn-default">Regresar</a><br><br>
  <p><a href="tamanio_mueble/nuevo/">Nuevo</a></p>
  <table class="table table-hover">
   <tr class="active">
    <th>tipo_tamanio</th>
    <th>activo</th>
    <th></th>
  </tr>
  {% for i in lista_tamaniomueble %}
  <tr><td>{{ i.tipo_tamanio }}</td>
   <td>{{ i.activo }}</td>

   <td><a href="tamanio_mueble/editar/{{i.id}}/">Editar</a></td>
   <td>{# <a href="delete/{{i.id}}">delete</a> #}</td>
 </tr>
 {% endfor %}
</table>
</div>
{% else %}
<a href="../" class="btn btn-default">Regresar</a><br><br>
<p class="alert alert-danger" role="alert"> No tamanio mueble are available.!  </p>
{% endif %}
{% endblock ver_datos_basicos %}
