{% extends "base.html" %}
{% block contenido_index %} {% endblock contenido_index %}
{% block confirmar %}{% endblock confirmar %}
{% block ver_datos_basicos %}
<p><a href="nuevo/">Nuevo</a></p>
{% if articuloprecio %}
<div class="col-md-1"></div>
<div class="col-md-4">
  <a href="../" class="btn btn-default">Regresar</a><br><br>

  <table class="table table-hover">
   <tr class="active">
    <th>articulo</th>
    <th>tipo_precio</th>
    <th>activo</th>
    <th></th>
  </tr>
  {% for i in articuloprecio %}
  <tr><td>{{ i.articulo }}</td>
    <td>{{ i.tipo_precio }}</td>
   <td>{{ i.activo }}</td>

   <td><a href="/{{i.id}}/">Editar</a></td>
   <td><a href="delete/{{i.id}}">delete</a></td>
 </tr>
 {% endfor %}
</table>
</div>
{% else %}
<a href="../" class="btn btn-default">Regresar</a><br><br>
<p> No se encontro registro.!  </p>
{% endif %}
{% endblock ver_datos_basicos %}
