{% extends "base.html" %}
{% block contenido_index %} {% endblock contenido_index %}
{% block ver_datos_basicos %}
{% if lista_condicionpago %}
<div class="col-md-1"></div>
<div class="col-md-4">
    <h2>Listado de condiciones de pago</h2>
    <a href="nuevo/" class="btn btn-default">Nuevo</a>
    <br>
    <h6>Cantidad de condiciones de pago encontradas: <span class="badge">{{ lista_condicionpago.count }}</span> </h6>
    <table class="table table-hover">
       <tr class="active">
        <th>Condición</th>
        <th>Dias</th>
        <th>Estado</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    {% for i in lista_condicionpago %}
    <tr>
        <td>
            {{ i.condicion }}
        </td>
        <td>
            {{ i.dias }}
        </td>
        <td>
            {% if i.activo %}
            Activo
            {% else %}
            Inactivo
            {% endif %}
        </td>
        <td><a href="{{i.id}}/" class="glyphicon glyphicon-edit"></a></td>
        <td><a id="{{i.id}}" onclick="addhref();" href="#" class="eliminar1 glyphicon glyphicon-remove"
            data-toggle="modal" data-target=".eliminarCP"></a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="nuevo/" class="btn btn-default">Nuevo</a>
</div>
{% else %}
<p> No cliente are available. </p>
<a href="nuevo/" class="btn btn-default">Nuevo</a>
{% endif %}
{% endblock ver_datos_basicos %}
{% block confirmar %}

<div class="modal fade eliminarCP" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content well well-lg">
      <h3 class="bg-primary" style="text-align: center;">¿ Eliminar ?</h3>
      <br>
      <br>
      <a id="eliminarO" href="" class="btn btn-default btn-xs btn-block">Si</a>
      <a href="/condicion_pago/" class="btn btn-default btn-xs btn-block">No</a>
  </div>
</div>
</div>


{% endblock confirmar %}
